<div class="row">
    <div class="col-sm-4 col-sm-offset-3">
        <a href"#" class="lead">{{super1.name}}</a>
        <img src={{super1.image}}>
        <p>From: {{super1.origin}}</p>
        <form class="vote-up" data-id="{{this._id}}">
            <button type="submit">Vote Up</button>
        </form>
    </div>
    <div class="col-sm-4 col-sm-offset-3">
        <a href"#" class="lead">{{super2.name}}</a>
        <img src={{super2.image}}>
        <div>
            <p>From: {{super2.origin}}</p>
        </div>
        <form class="vote-up" data-id="{{this._id}}">
            <button type="submit">Vote Up</button>
        </form>
    </div>
</div>
