<div class="row">
    <div class="col-sm-4 col-sm-offset-3">
        <a href"#" class="lead">{{super1.name}}</a>
        <p>{{super1.image}}</p>
        <p>From: {{super1.origin}}</p>
    </div>
    <div class="col-sm-8 col-sm-offset-3">
        <a href"#" class="lead">{{super2.name}}</a>
        <p>{{super2.image}}</p>
        <p>From: {{super2.origin}}</p>
    </div>
</div>