<div class="row">
    <div class="col-lg-12" style="margin:auto; padding-top: 30px">
        <div class="card">
            <img src={{ hero.image.url }} alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>{{ hero.name }}</b></h4> 
                <p style="font-weight:lighter">{{ hero.biography.full-name }}</p> 
                <p style="right-side-text">{{ hero.biography.publisher }}</p>
                <div style="border:2px solid black" class="stats">
                    <h4 style="text-align:center">Stats</h4>
                    <p class="stats">Intelligence: {{hero.powerstats.intelligence}} | Strength: {{hero.powerstats.strength}} | Speed: {{hero.powerstats.speed}} </p>
                                    <p class="stats">Durability: {{hero.powerstats.durability}} | Power: {{hero.powerstats.power}} | Combat: {{hero.powerstats.combat}} </p>
                </div>
            </div>
        </div>
    </div>
</div>